In [1]:
import mysql.connector

In [2]:
#establish connection to database
connection = mysql.connector.connect(host="localhost",
                                     user="root",         
                                     password="",
                                     database="queenie" )

In [3]:
#creates cursor for different queries
cursor = connection.cursor()

In [27]:
#prints all data (inc. id/index) in temperature table
cursor.execute("SELECT * FROM temperature")
result = cursor.fetchall()

for x in result:
    print(x)

('06 Feb', '50', 1)
('07 Feb', '32', 2)
('08 Feb', '20', 3)

In [28]:
#prints selected columns(specify column name) in temperature table
cursor.execute("SELECT date, temperature FROM temperature")
result = cursor.fetchall()

for x in result:
    print(x)

('06 Feb', '50')
('07 Feb', '32')
('08 Feb', '20')

In [29]:
#prints first line in temperature table
cursor.execute("SELECT * FROM temperature")
result = cursor.fetchone()

print(result)

('06 Feb', '50', 1)

In [ ]:
connection.close()